<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <title>
    	Contact Us
  	</title>
</head>
    <body>
    {% include './navbar.html' %}
    <div class="card" style="width: 18rem;">
	  <div class="card-body">
	    <h5 class="card-title">Best Cars</h5>
	    <h6 class="card-subtitle mb-2 text-muted">Best car dealership in USA </h6>
	    <p class="card-text">1st, pipin-in-the-Apple street, New-York</p><p>(312)BestCarsUSA</p>
	  </div>
	</div>
	<div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
	  <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
	    style="border:0" allowfullscreen></iframe>
	</div>
	
    </body>
</html>