<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Reviews</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<style>  
	  body { 
    	padding-top: 65px;
    	padding-left:2ex;
    	padding-right:2ex;
    	padding-bottom:2ex;  
	}
	</style>
</head>

<body>
    {% include './navbar.html' %}
	<h1>Reviews of {{dealer.full_name}}</h1>
	{% if user.is_authenticated %}
		<h6><a href="{% url 'djangoapp:add_review' dealer.id %}"> <i class="bi bi-star-fill"></i> Add your review now ! </a> </h6>
	{% else %}
		<h6><i class="bi bi-unlock-fill"></i>  Please connect to adding your own review ! </h6>
	{% endif %}
	{% if review_list_is_empty %}
		<a> <i class="bi bi-star-fill"></i>  Not yet reviewed ! Be the First ! </a>
	{% else %}
	<div class="card-deck" style="padding-top:2ex;">
			{% for review in review_list %}
				<div class="card mb-4" style="min-width: 10rem; min-width: 20rem;">
					{% if review.sentiment > 0.3 %}
						<img class="card-img-top img-fluid" src="{{MEDIA_URL}}/emoji/positive.png" style="display: block; max-width: 3em; height: auto;"></img>
					{% elif review.sentiment < -0.3 %}
						<img class="card-img-top img-fluid" src="{{MEDIA_URL}}/emoji/negative.png" style="display: block; max-width: 3em; height: auto;"></img>
					{% else %}
						<img class="card-img-top img-fluid" src="{{MEDIA_URL}}/emoji/neutral.png" style="display: block; max-width: 3em; height: auto;"></img>
					{% endif %}
					<div class="card-body">
						{% if  review.car_make|length > 0 %}
							<h5 class="card-title">{{review.car_make}}
							{% if  review.car_model|length > 0 %}
								 {{review.car_model}}
								{% if  review.car_year|length > 0 %}
					    			 ({{review.car_year}})
					    		{% endif %}
					    	{% else %}
					    		{% if  review.car_year|length > 0 %}
					    			 ({{review.car_year}})
					    		{% endif %}
					    	{% endif %}
					    	</h5>
					    {% endif %}
					    <h6 class="card-subtitle mb-2">{{review.name}}</h6>
	 					<p class="card-text">{{review.review}}</p>
					</div>
				</div>	
			{% endfor %}
	</div>
	{% endif %}
</body>

</html>