<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>
    {% include './navbar.html' %}
    <div style="padding:5ex; padding-top:2ex;">
    <div style="padding-bottom:5ex;">
	<h1>Review of {{dealer.name}}</h1>
	{% if user.is_authenticated %}
	{{dealership_id}}
		<a href="{% url 'djangoapp:add_review' dealer_id %}"> add your review </a>
	{% endif %}
	{% if review_list_is_empty %}
		<a> Not yet reviewed ! Be the First ! </a>
	{% else %}
	</div>
	<div class="card-deck">
			{% for review in review_list %}
				<div class="card mb-4" style="min-width: 10rem; min-width: 20rem;">
					{% if review.sentiment > 0.3 %}
						<img class="card-img-top img-fluid" src="{{MEDIA_URL}}/emoji/positive.png" style="display: block; max-width: 3em; height: auto;"></img>
					{% elif review.sentiment < -0.3 %}
						<img class="card-img-top img-fluid" src="{{MEDIA_URL}}/emoji/negative.png" style="display: block; max-width: 3em; height: auto;"></img>
					{% else %}
						<img class="card-img-top img-fluid" src="{{MEDIA_URL}}/emoji/neutral.png" style="display: block; max-width: 3em; height: auto;"></img>
					{% endif %}
					<div class="card-body">
					    <h5 class="card-title">{{review.car_make}}, {{review.car_model}} ({{review.car_year}})</h5>
					    <h6 class="card-subtitle mb-2">{{review.name}}</h6>
	 					<p class="card-text">{{review.review}}</p>
					</div>
				</div>	
			{% endfor %}
	</div>
	{% endif %}
    </body>

</html>